* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.myDiv {
  background-color: #091e3b;
  background-color: #102845;

  @media only screen and (max-width: 767px) {
    &:nth-child(1) {
      display: none;
    }

    &:nth-child(2) {
      display: block;
      -webkit-mask-image: none;
    }
  }

}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}